<!DOCTYPE html>
<html>
  <head>
    <title>preview</title>
  </head>
  <body>
    <h1>preview page</h1>

    <%x.forEach((t)=>{%>
    <img src="/uploads/<%=t.picture%>" />
    <%})%>
  </body>
</html>
